#foot{
	background: #eab323;
	height: auto;
	width: 100%;
	text-align:center;
}
#foot .foot-bar{
	display: inline-block;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin:70px auto 0 auto;

}

#foot h3{
	font-family: "Century Gothic";
	position:relative;
	left: 40px; 
	background-color: #f8f8f8;
	border-radius: 5px;
	width: 110px;
	text-align: center;
}
#foot a{
	text-decoration: none;
}