body {
	background: #444;
}

#menu{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: visible;
	background-color: #32342f;
	width: 100%;
	height: 43px;
	margin-top: 0;
}
#menu ul{
	padding:0;
	margin:0;
	list-style-type:none;
}

#menu ul li a{
	display: inline;
	width:90px;
	height: 43px;
	float: left;
	z-index: 1;
	line-height: 2.7;

	font-family: "Microsoft Yahei";
	font-size: 13pt;
	color:#fff;
	
	text-decoration:none;
	text-align: center;

}
#menu a:hover,a:active{
	background-color:#6b6b69;
}
